.itemSkill {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  border-radius: 10px;
  border-color: black;
  overflow: hidden;
  padding: 0.2rem 0.8rem;
  height: 50px;
  background-color: #b9aae244;
}


.itemSkill h4 {
  text-shadow: 3px 1px black;
  font-size: 1.1em;
  margin-left: 0.5em;
}
