.Navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  gap: 2em;
}

.Navbar a {
  color: #e0ffff;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  z-index: 4;
}

.Navbar div {
  position: relative;
  width: max-content;
  height: 100%;
  padding: 1em 1em;
}

.Navbar div:hover {
  background-color: rgb(255, 255, 255, 0.1);
}

.Navbar a:hover {
  color: #00ffff;
  border-bottom: 0.1em solid;
}

@media only screen and (max-width: 768px) {
  .Navbar {
    gap: 0em;
  }
  .Navbar a {
    margin: 2px;
  }
}
