.cardAbout {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
  gap: 2em;
  margin: 2em 6em;
}

@media only screen and (max-width: 768px) {
  .cardAbout {
    grid-auto-flow: row;
    margin: 1rem 0.2rem;
  }
}

.textAbout {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255, 0.1);
  padding: 1rem 1rem;
  border-radius: 20px;
  gap: 1em;
  font-size: 1rem;
}
.textAbout a {
  color: #00ffff;
}
.textAbout a:hover {
  opacity: 0.8;
}

.cardPhoto {
  background: rgb(0, 0, 0, 1);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  opacity: 1;
  width: max-content;
  height: max-content;
  overflow: hidden;
  rotate: 2deg;
}
.cardPhoto::before {
  content: "";
  position: absolute;
  background: #00ffff;
  width: 40%;
  height: 120%;
  animation: rotate 5s linear infinite;
}

.cardPhoto img {
  border-radius: 20px;
  padding: 0.2em;
  z-index: 10;
}
